.container {
    height: 100vh;
    background-image: url(img/bg/cloth.jpg);
    overflow: hidden;
    box-shadow: 1px 107px 14px 10px white inset;
}

.navbar-avant {
    background-image: linear-gradient(white, $colorTop);
}

.navbar-menuDropdown {

    display: flex;

    .navbar-nav {
        /* display: grid;
                grid-template-columns: repeat(6, 1fr);*/

        .dropdown:hover .dropdown-menu,
        .search {
            display: block;
        }

        .nav-item {
            position: relative;
            display: flex;
            max-width: 90px;
            justify-content: space-around;


            list-style: none;
            padding: 0.2em 1em 0.2em;
            margin: 0.1em;

            a {

                i {
                    height: inherit;
                    color: $colorDop;
                    font-size: 25px;
                    -webkit-text-stroke: 0.5px $colorBorder;

                    &:hover {
                        color: $colorSec;
                    }
                }
            }

            .search {
                display: none;
            }
        }

    }


    a {
        color: $colorDop;
        text-decoration-color: aqua;
        text-decoration: none;
        -webkit-text-stroke: 0.2px $colorBorder;
        letter-spacing: 1px;

        &:hover {
            color: $colorSec;
            animation: slideIn 2s;
        }
    }

    .dropdown-menu {
        position: absolute;
        top: 2em;
        left: 0;
        display: none;
        list-style: none;
        margin: 0.1em;

        li {
            margin: 3px;
        }
    }

}

.navbarUser {
    grid-column-start: 4;
    grid-column-end: 5;

    .navUserList {
        display: grid;
        grid-template-columns: 60px 60px 60px;
        grid-template-rows: 60px;
        align-items: center;
        list-style: none;
        align-content: center;

        li {
            width: 10px;
            margin: 10px;

            .nav-link {

                .fa-solid,
                .fa-brands {
                    color: $colorMin;
                    -webkit-text-stroke: 0.5px $colorBorder;
                }

                &:hover {
                    color: $colorSec;
                    animation: slideIn 2s;
                }
            }
        }
    }
}

.navbar-menuIcon {
    display: none;
    font-size: xx-large;

    a {
        text-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), outset 0px 4px 1px 1px white, outset 0px -3px 1px 1px rgba(204, 198, 197, .5);

        i {
            height: inherit;
            color: $colorDop;
            font-size: 25px;
            -webkit-text-stroke: 0.5px $colorBorder;

            &:hover {
                color: $colorSec;
            }
        }
    }
}


.container-card {

    .AboutInfo {
        display: flex;
        height: inherit;
        width: inherit;
        justify-content: center;
        align-items: center;
        position: relative;

        .AboutInfo-intro {
            position: absolute;

            .intro {
                opacity: 0;
            }
        }

        .AboutInfo-rel {
            font-size: 2em;
            font-family: Vollkorn;
            font-style: italic;
            font-weight: 700;
            position: absolute;

            span {
                display: inline-block;
                text-shadow: 0 0 0 whitesmoke;
                animation: smoky 5s 3s both;
            }

            .even {
                animation: smoky-mirror 3s 4s both;
            }

            @keyframes smoky {
                60% {
                    text-shadow: 0 0 40px whitesmoke;
                }

                to {
                    transform:
                        translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
                    text-shadow: 0 0 20px whitesmoke;
                    opacity: 0;
                }
            }

            @keyframes smoky-mirror {
                60% {
                    text-shadow: 0 0 40px whitesmoke;
                }

                to {
                    transform:
                        translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
                    text-shadow: 0 0 20px whitesmoke;
                    opacity: 0;
                }
            }
        }

        .AboutInfo-block {
            position: absolute;
            width: inherit;
            height: inherit;
            background-color: azure;
        }
    }
}

//animation text


footer {
    display: grid;
    grid-template-columns: 280px 6fr 4fr;
    grid-template-rows: 30px;
    margin-top: 2.5em;

    .boxSocialIcons {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        font-size: 23px;

        a {
            text-align: center;
            background: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 50px rgba(0, 0, 0, 0.1);
            border-radius: 24px;
            margin: 2px 10px 10px 0;
            padding: 6px;
            color: #000;
        }

        &-youtube a:hover {
            background: #c4302b;
            color: #fff;
        }

        &-twitter a:hover {
            background: #00acee;
            color: #fff;
        }

        &-instagram a:hover {
            background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
            color: #fff;
        }

        &-facebook a:hover {
            background: #3b5998;
            color: #fff;
        }

        &-vk a:hover {
            background: #5d84ae;
            color: #fff;
        }

        &-telegram a:hover {
            background: #249bd7;
            color: #fff;
        }

    }

    .footerInfo {
        font-family: Garamond;
        justify-self: center;
        color: $colorSec;
        font-size: 1.2em;
    }
    .footerZnak{
        font-size: 0.8em;
    }

}
